$resume-container-width: 85%;
$button-side: 2rem;

.Resume {

  .container {
    width: $resume-container-width;
  }

  h4 {
    font-weight: bold;
  }

  h5 {
    @extend .yellow-text, .text-darken-2;
  }

  &-headline, .collapsible-header {
    display: inline-flex;
  }

  &-list {
    border: 0;
    margin: 1rem 0 0 0;
    box-shadow: none;

    li {
      margin-bottom: 1rem;
    }

    .collapsible-header {
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 1rem .5rem 1rem 0;
      min-height: $button-side;
      width: $button-side;
      height: $button-side;

      &.btn-floating {
        background-color: #ef5350 !important;

        &:hover {
          background-color: #fbc02d !important;
        }
      }

      i {
        margin: 0;
        width: 3rem;
        font-size: 1.2rem;
      }
    }

    .collapsible-body {
      border: 0;
      margin-left: 2rem;

      p {
        padding: 1rem;
        font-size: 1rem;

        i {
          margin-bottom: 1rem !important;
        }
      }
    }
  }
}

@media #{$small-and-down} {
  .Resume{
    .collapsible-header{
      float:right !important;
    }

    h6 {
      display: block;
    }

    .collapsible-body{
      margin: 1.5rem 0 3rem 0 !important;

      p{
        padding: .7rem;
        text-align: justify;
      }
    }
  }
}
