section#about-me.About.container.section.scrollspy.animated
  .container
    h2.center-align About me
    h3.center-align Welcome, let me introduce myself
    .row.section
      .col.l3.offset-m3.m6.s12
        img.About-image.responsive-img.right(src='./img/profile-photo.png')
      .About-info.col.l9.m12.s12
        .row
          .col.l12.m12.s12
            p.About-description I'm a professional with more than 5 years of experience in software development, in the last 2 years mostly focused on web technology projects. I look for new skills everyday and I consider myself as JavaScript enthusiast; although I have experience throughout the web full stack, I have chosen Front-End development as the very first milestone of my career path, UX / UI based development is what I would like to work in and growth. I'm focused in doing my best around collaborative environments and working at companies with global scope and that apply self improvement through an innovation approach and agile processes.
        .row
          .col.l4.m4.s12
            h4 Birthplace
            p San Luis Potosí, México
          .col.l4.m4.s12
            h4 Residence
            p San Luis Potosí, S.L.P
          .col.l4.m4.s12
            h4 Hobbies
            p Tech Learning, Travel, Music, Soccer
        .row
          .col.l4.m4.s12
            h4 Born
            p December 27, 1990
          .col.l4.m4.s12
            h4 Education
            p BS in Informatics Engineering
          .col.l4.m4.s12
            h4 Email
            a(href='mailto:jluis.acostazamora@gmail.com') jluis.acostazamora@gmail.com
    .row.center
      a.btn-large.waves-effect.waves-light(href='https://goo.gl/jXAG3l', target='_blank') Download resume
        i.material-icons.right file_download
