footer.Footer.page-footer.container
  .container
    .row
      .col.l6.m6.s12
        img.Footer-logo.responsive-img(src='./img/jluisacosta-logo-sm.png')
        h5.white-text J Luis Acosta
        p.grey-text.text-lighten-4 Thanks for visiting my website, do not hesitate to start a conversation or if you have any question feel free to contact me.
      .col.l2.m2.s6
        h5.white-text Language
        ul.Footer-language
          li
            a(href='#!') English
          li
            a(href='#!') Spanish
      .col.l4.m4.s6
        h5.white-text Connect
        ul.Footer-social
          li
            a.btn-floating.btn-large.waves-effect.waves-light(href='https://www.facebook.com/ybexfish', target='_blank')
              i.material-icons.fa.fa-facebook-f
          li
            a.btn-floating.btn-large.waves-effect.waves-light(href='https://github.com/jluisacosta', target='_blank')
              i.material-icons.fa.fa-github
          li
            a.btn-floating.btn-large.waves-effect.waves-light(href='https://mx.linkedin.com/in/jluisacosta', target='_blank')
              i.material-icons.fa.fa-linkedin
  .footer-copyright
    .container
      | © 2017 J Luis Acosta
      a(href='mailto:jluis.acostazamora@gmail.com')
        i < jluis.acostazamora@gmail.com >
