meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
meta(name='msapplication-TileColor', content='#546e7a')
meta(name='msapplication-TileImage', content='./img/favicon/mstile-144x144.png?v=dLBmgaAjnG')
meta(name='msapplication-config', content='./img/favicon/browserconfig.xml?v=dLBmgaAjnG')
meta(name='theme-color', content='#546e7a')

link(rel='apple-touch-icon', sizes='180x180', href='./img/favicon/apple-touch-icon.png?v=dLBmgaAjnG')
link(rel='icon', type='image/png', href='./img/favicon/favicon-32x32.png?v=dLBmgaAjnG', sizes='32x32')
link(rel='icon', type='image/png', href='./img/favicon/favicon-16x16.png?v=dLBmgaAjnG', sizes='16x16')
link(rel='manifest', href='./img/favicon/manifest.json?v=dLBmgaAjnG')
link(rel='mask-icon', href='./img/favicon/safari-pinned-tab.svg?v=dLBmgaAjnG', color='#5bbad5')
link(rel='shortcut icon', href='./img/favicon/favicon.ico?v=dLBmgaAjnG')

// Google Icon Font
//smoosh
link(type='text/css', rel='stylesheet', href='./app.css')
//endsmoosh
title J Luis Acosta - Web Developer
