doctype html
html(lang='en-US')
  head
    include ./head-content.pug
  body
    include ./cover.pug
    include ./navbar.pug
    main
      include ./about-me.pug
      include ./my-skills.pug
      include ./resume.pug
      include ./services.pug
      include ./portfolio.pug
      include ./contact.pug
    include ./footer.pug
    include ./fixed.pug
    //smoosh
    include ./scripts.pug
    //endsmoosh
