section#my-skills.Skills.container.section.scrollspy
  .Skills-background.container
    .parallax-container
      .parallax
        img(src='./img/coding-skills.png')
  .Skills-mask
  .Skills-content.section
    .container.section
      h2.center-align My Skills
      h3.center-align I am really good at the following skills
      .row.section
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p HTML5 & CSS3
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p JavaScript
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p jQuery
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p Full-Responsive Design
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p Back-End
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p Database development
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p Server administration
        .col.l3.m3.s6.center
          .graph-donut(data-percent='0')
            span.percent
          p Git & GitHub
