section#resume.Resume.container.section.scrollspy
  .container
    h2.animated.bounceOut.center-align Resume
    h3.animated.bounceOut.center-align My entire career
    .Resume-row.row
      .Resume-work.col.l6.m12.s12.animated.bounceOutDown
        h4.left-align Work experience
        h5.left-align 2014 - Now
        ul.Resume-list.collapsible(data-collapsible='expandable')
          li
            a.btn-floating.btn-large.waves-effect.waves-light.collapsible-header.active
              i.material-icons remove
            h6.Resume-headline JavaScript Web Developer / Freelance
            .collapsible-body.z-depth-1
              p
                i January 2016 - Now
                br
                | I'm currently getting ready to become a Full Stack JavaScript Developer, I'm learning technologies both Front-End and Back-End as Node.js, Pug (Jade), Materializae.css, Browserify, Standard Linter, RethinkDB, AngularJS, Gulp, NPM, ES6, etc. Meanwhile I offer services for web projects in which apply my current and newer knowledge.
          li
            a.btn-floating.btn-large.waves-effect.waves-light.collapsible-header.active
              i.material-icons remove
            h6.Resume-headline Web Developer at CVPSL S.A. de C.V. *
            .collapsible-body.z-depth-1
              p
                i July 2016 - December 2016
                br
                | Web application and mobile development for different projects, costumization of legacy PaaS and Hybrid mobile app in both front-end and back-end sides, creation of new features, API connection and configurations (Twilio, PayPal, Stripe, GAnalytics, GMaps, Facebook), web site development, server administration (DNS, Hosting, SSL) and Mobile App publishing for AppStore and GooglePlay.
                br
                br
                | * Compra y Venta de Productos y Servicios en Línea S.A. de C.V.
          li
            a.btn-floating.btn-large.waves-effect.waves-light.collapsible-header
              i.material-icons add
            h6.Resume-headline Web Developer and ITCL at PME Consulting
            .collapsible-body.z-depth-1
              p
                i March 2015 - December 2015
                br
                | Web development of applications and microsites applying SEO, Social Media Marketing and Analytics. IT infrastructure support, Web Site management (Wordpress), web hosting, networks, domains and Cloud Panel administration for Google Cloud Platform and Microsoft Azure (VPS).
                br
                br
                | Participation in the creation of innovative business ideas through Lean Startup and Design Thinking approach, also I got involved in other tasks of the company like project management, business creation, professionalisation and product development.
          li
            a.btn-floating.btn-large.waves-effect.waves-light.collapsible-header
              i.material-icons add
            h6.Resume-headline Database Developer at UASLP - Reach
            .collapsible-body.z-depth-1
              p
                i August 2014 - February 2015
                br
                | Database development/administration using MySQL in real-time Web Application, my main function was to process and report all data generated through sensors inside solar energy containers. I developed data base strcuture and stored procedures to apply formules that become KPIs and relevant data for customers.
      .Resume-education.col.l6.m12.s12.animated.bounceOutDown
        h4.left-align Education
        h5.left-align 2006 - 2016
        ul.Resume-list.collapsible(data-collapsible='expandable')
          li
            a.btn-floating.btn-large.waves-effect.waves-light.collapsible-header.active
              i.material-icons remove
            h6.Resume-headline Frontend Professional Certificate
            .collapsible-body.z-depth-1
              p
                i 2016
                br
                | Platzi (https://www.platzi.com)
                br
                | License:  e6cbf6c3-d9de-4f8c-8f77-59a36b900dbf
                br
                | Online
          li
            a.btn-floating.btn-large.waves-effect.waves-light.collapsible-header.active
              i.material-icons remove
            h6.Resume-headline B. S. in Informatics Engineering
            .collapsible-body.z-depth-1
              p
                i 2009 - 2015
                br
                | School of Engineering
                br
                | Universidad Autónoma de San Luis Potosí
                br
                | San Luis Potosí, México
          li
            a.btn-floating.btn-large.waves-effect.waves-light.collapsible-header.active
              i.material-icons remove
            h6.Resume-headline High School Diploma, General Studies
            .collapsible-body.z-depth-1
              p
                i 2006 -2009
                br
                | Campus San Luis Potosí
                br
                | Universidad del Valle de México
                br
                | San Luis Potosí, México
