script(type='text/javascript', src='./lib/jquery.js')
script(type='text/javascript', src='./lib/materialize.js')
script(type='text/javascript', src='./lib/easypiechart.js')
script(type='text/javascript', src='./lib/isotope.js')
script(type='text/javascript', src='./app.js')
