section#services.Services.container.section.scrollspy
  .Services-mask
  .Services-content.container.center.animated
    h2.center-align Services
    h3.center-align How can I help You?
    .row.section
      .col.l6.m12.s12
        ul.Services-collection.collapsible.popout(data-collapsible='accordion')
          li(data-slide='0')
            .collapsible-header.active
              i.material-icons web
              h4 Website Development
            .collapsible-body
              p Development of creative, interactive and functional sites optimized for any kind of device. Have a design? Need a proposal or adapt a Wordpress template?. Deployment of a great site is the first step.
          li(data-slide='1')
            .collapsible-header
              i.material-icons important_devices
              h4 Web Application Development
            .collapsible-body
              p Web application development for new online business ideas, prototypes and wireframming, Back-End solutions, Database implementation, etc.
          li(data-slide='2')
            .collapsible-header
              i.material-icons cloud_done
              h4 Server Administration
            .collapsible-body
              p Hosting, domains (DNS), private server configuration. Management of Cloud Computing Platforms and Services as Google Cloud Platform and Microsoft Azure.
          li(data-slide='3')
            .collapsible-header
              i.material-icons insert_chart
              h4 Web Analytics
            .collapsible-body
              p Installation and training of Google Analytics and other tools to measure main indicators of your website.
      .col.l6.m12.s12.hide-on-med-and-down
        .carousel.carousel-slider.center.center-block(data-indicators='false')
          .carousel-item
            h4 Let the Internet world know about you
            img.responsive-img(src='./img/website-development.png')
          .carousel-item
            h4 Have a great idea? Let's do it!
            img.responsive-img(src='./img/web-app-development.png')
          .carousel-item
            h4 Control over your web infrastructure
            img.responsive-img(src='./img/server-admin.png')
          .carousel-item
            h4 Result measurement, better desicions
            img.responsive-img(src='./img/web-analytics.png')
