doctype html
html(lang='en-US')
  head
    include ./head-content.pug
  body(style='background-color:#90a4ae')
    .container.section.valign-wrapper(style='height:100vh')
      .valign.center-block.center
        img.responsive-img(src='./img/jluisacosta-logo.png')
        p(style='color:white !important; font-size: 32px') Form submitted successfully. Thanks for your message!
        a.waves-effect.waves-light.btn-large(href='/')
          i.material-icons.right replay
          | Return to the site
